@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,300;1,300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Serif', sans-serif;

}
.App{
  background-image: url('./assets/img/Default.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease;
}

.App.cloud{
  background-image: url('./assets/img/Cloud.jpg');
}
.App.rain{
  background-image: url('./assets/img/Rain.jpg');
}
.App.snow{
  background-image: url('./assets/img/Snow.jpg');
}
.App.thunderstorm{
  background-image: url('./assets/img/Thunder.jpg');
}
.App.drizzle{
  background-image: url('./assets/img/Drizzle.jpg');
}
.App.clear{
  background-image: url('./assets/img/Clear.jpg');
  filter: brightness(150%);
  animation: fade 2s ease;
  
}
@keyframes fade {
  from{
    filter: brightness(0%);
  }
  to{
    filter: brightness(150%);
  }
}

section{
  position: relative;
  display: flex;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
  padding: 25px;
}

.search-box{
  width: 60%;
  margin: auto 60px;
  color: #000;
  z-index: 1000;
}

.search-bar{
  border-radius: 5px;
  height: 50px;
  width: 30%;
  font-size: 18px;
  color: #fff;
  transition: 0.5s ease;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(20, 20, 20, 0.5);
}




.box{
  width: 40%;
  backdrop-filter:blur(5px);
	box-shadow: 0 25px 45px rgba(24, 22, 22, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	background: rgba(10, 10, 10, 0.1);
	border-radius: 10px;
  animation: animateBox 2s;
  margin: 50px 0;
}
@keyframes animateBox {
  from{
    opacity: 0;
    transform: translateX(-100%);
  }

to {
    opacity: 1;
    transform: translateX(0);
}
  
}
.location-box{
  text-align: center;
  text-transform: capitalize;

}
.location{
  margin: 10px;
  color: #FFF;

}
.date h3{ 
  color: #FFF;
  font-style: italic;
}
.weather-box{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.weather{
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px 25px;
  color: #FFF;
  font-size: 102px;
  font-weight: 900;
  text-shadow: 1px 5px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}
.weather p {
  text-align: center;
  font-size: 25px;
  color:rgba(255, 255, 255, 0.75);
  text-align: center;
  margin: auto 10px;

  
}

.information .text{
  text-align: center;
  margin:20px ;
  color: #FFF;
  font-size: 20px;
}
.temp{
  color: #FFF;
  margin: auto auto;
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
}
